body {
  background-color: #D9514E;
}

#image {
  position: absolute;
  max-width: 10%;
  top: 15px;
  left: 5%;
}

#title {
  font-size: 38px;
  text-align: center;
  padding: 35px;
  background-color: #383737;
  color: #D9514E;
}

.form-horizontal {
  margin: 0 auto;
  width: 258px;
  padding: 15px;
}

#avatar {
  width: 100px;
}

li {
  background-color: #383737;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
  color: white;
  padding: 10px;
  width: 600px;
  margin: 0 auto;
  border-radius: 3px;
}
